html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}
@font-face {
  font-family: "Itim";
  src: url("Itim-Regular.ttf");
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", "Trebuchet MS", Arial, "Courier New", Verdana, Georgia, "Arial Black";
}

section {
  height: auto;
  width: auto;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  background: linear-gradient(#e9d9ba, #a37979);
  font-family: "Shrikhand", "Arial Black", Arial, Verdana, "Trebuchet MS", Georgia, "Courier New";
}
@media screen and (min-width: 425px) {
  header {
    height: 80px;
    width: auto;
  }
}
@media screen and (min-width: 600px) {
  header {
    height: 100px;
    width: auto;
  }
}
header h1 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-shadow: 0.2rem 0.1rem 0.1rem grey;
  letter-spacing: 3px;
  font-size: 3rem;
  color: black;
}
@media screen and (min-width: 425px) {
  header h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 600px) {
  header h1 {
    font-size: 5rem;
  }
}

footer {
  height: 150px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#e9d9ba, #a37979);
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer ul {
  list-style: none;
  margin: 0;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
footer ul li {
  padding: 0.5rem;
  font-size: 1.6rem;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 600px) {
  footer ul li a {
    font-size: large;
    font-weight: bold;
  }
}

.middot {
  display: none;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .middot {
    display: block;
  }
}

.index-presentation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: auto;
}
.index-presentation img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .index-presentation {
    height: 350px;
  }
}
@media screen and (min-width: 425px) {
  .index-presentation {
    height: 400px;
  }
}
@media screen and (min-width: 600px) {
  .index-presentation {
    height: 470px;
  }
}
@media screen and (min-width: 768px) {
  .index-presentation {
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .index-presentation {
    height: 700px;
  }
}
.index-presentation__text {
  height: auto;
  width: auto;
  position: absolute;
  z-index: 2;
  opacity: 1;
  font-size: 1.6rem;
  margin: 0;
  padding: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 375px) {
  .index-presentation__text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 600px) {
  .index-presentation__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .index-presentation__text {
    font-size: 2.5rem;
  }
}

section {
  height: auto;
  width: auto;
}
section h2 {
  height: auto;
  width: auto;
  text-align: center;
  text-decoration: underline;
  font-size: 1.6rem;
}
@media screen and (min-width: 425px) {
  section h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 600px) {
  section h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  section h2 {
    font-size: 2.5rem;
  }
}

.bloc-produits {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .bloc-produits {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.bloc-produits__cadre {
  margin: 2rem 2rem;
  height: 250px;
  width: auto;
  box-shadow: 0rem 0rem 0.5rem 0.3rem #b9b9b9;
  border-radius: 2rem;
  overflow: hidden;
}
@media screen and (min-width: 375px) {
  .bloc-produits__cadre {
    height: 300px;
    width: auto;
  }
}
@media screen and (min-width: 425px) {
  .bloc-produits__cadre {
    height: 350px;
    width: auto;
    border-radius: 4rem;
    margin: 2rem 2.5rem;
  }
}
@media screen and (min-width: 600px) {
  .bloc-produits__cadre {
    height: 450px;
    width: auto;
    border-radius: 4rem;
    margin: 3rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .bloc-produits__cadre {
    height: 350px;
    width: 45%;
    border-radius: 2rem;
    margin: 2rem 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .bloc-produits__cadre {
    height: 400px;
    width: 45%;
    margin: 2rem 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .bloc-produits__cadre {
    height: 550px;
    width: 45%;
    margin: 2rem 3rem;
  }
}

.cadre-produit {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: white;
}
.cadre-produit__photo {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cadre-produit__photo img {
  height: 100%;
  width: 100%;
}
.cadre-produit__nom {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Shrikhand", "Trebuchet MS", Arial, "Courier New", Verdana, Georgia, "Arial Black";
  letter-spacing: 1px;
  background: linear-gradient(#e9d9ba, #a37979);
}
@media screen and (min-width: 600px) {
  .cadre-produit__nom {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .cadre-produit__nom {
    font-size: 2rem;
  }
}
.cadre-produit__prix {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Shrikhand", "Trebuchet MS", Arial, "Courier New", Verdana, Georgia, "Arial Black";
  letter-spacing: 1px;
  background: linear-gradient(#e9d9ba, #a37979);
}
@media screen and (min-width: 600px) {
  .cadre-produit__prix {
    font-size: 2rem;
  }
}

.index-panier {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: auto;
  width: auto;
}
.index-panier button {
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  background: linear-gradient(#e9d9ba, #a37979);
}
@media screen and (min-width: 768px) {
  .index-panier button {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .index-panier button {
    font-size: 4rem;
  }
}

.presentation-produit {
  height: 500px;
  width: auto;
  background-color: whitesmoke;
  padding-bottom: 3rem;
}

.produit-photo {
  height: 40%;
  width: auto;
}
.produit-photo__image {
  height: 100%;
  width: 100%;
}

.produit-description {
  height: 60%;
  width: auto;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.produit-description__nom:nth-child(1) {
  height: 10%;
  width: 100%;
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.produit-description__nom--titre {
  text-decoration: underline;
}
.produit-description__description:nth-child(2) {
  height: 40%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 1;
}
.produit-description__prix:nth-child(3) {
  height: 30%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 2;
}
.produit-description__selection:nth-child(4) {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 3;
}
.produit-description__retour:nth-child(5) {
  height: auto;
  width: 25%;
  order: 4;
}
.produit-description__retour:nth-child(5) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}
.produit-description__ajouter:nth-child(6) {
  height: auto;
  width: 40%;
  order: 5;
}
.produit-description__ajouter:nth-child(6) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}
.produit-description__panier:nth-child(7) {
  height: auto;
  width: 25%;
  order: 6;
}
.produit-description__panier:nth-child(7) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}
.produit-description__selection--quantite {
  width: 3rem;
  font-size: 1.6rem;
}
.produit-description__selection--selection {
  margin-right: 1rem;
  font-size: 1.6rem;
}

#nom {
  margin-left: 1rem;
}

.panier-remove {
  align-self: flex-end;
  margin: 1rem;
  height: 25px;
  width: auto;
  border-radius: 0.5rem;
}

.ton-panier {
  height: auto;
  width: auto;
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem;
  border: 2px #f2f2f2 solid;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0.3rem #b9b9b9;
}
.ton-panier > h1 {
  margin: 0;
  padding: 1rem;
  text-decoration: underline;
}

.liste-panier {
  height: auto;
  width: auto;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.panier-vide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 160px;
  width: auto;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}
.detail img {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 14px;
  border: 1px #f2f2f2 solid;
  height: 50px;
  width: 50px;
  box-shadow: 0.2rem 0.2rem 0.2rem grey;
}
.detail__produit {
  text-align: left;
  padding: 1rem 1rem 0 1rem;
  margin: 0 1rem 0rem 1rem;
  background-color: white;
}
.detail__prix-total-article {
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
}
.detail__prix-total-article--total-article {
  height: 30px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  border: 2px #b9b9b9 solid;
}
.detail__prix-total-article--prix-total {
  height: 30px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  border: 2px #b9b9b9 solid;
}
.detail::after {
  content: "";
  height: auto;
  width: 60%;
  margin-bottom: 1.5rem;
  border: 2px #746858 solid;
}

.boutons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  margin: 1rem;
}
.boutons__retour:nth-child(1) {
  width: 30%;
  order: 2;
}
.boutons__retour:nth-child(1) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  height: auto;
}
.boutons__accueil:nth-child(2) {
  width: 30%;
  order: 3;
}
.boutons__accueil:nth-child(2) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  height: auto;
}
.boutons__confirmation:nth-child(3) {
  width: 60%;
  margin: 0 20%;
  order: 1;
}
.boutons__confirmation:nth-child(3) button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  height: auto;
  margin: 1rem 0;
}

.total-panier {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  align-self: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
.total-panier p {
  font-size: 1.6rem;
  padding: 0.5rem;
}
.total-panier div {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#panier-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  border: 2px #f2f2f2 solid;
  box-shadow: 0rem 0rem 1rem 0.3rem #b9b9b9;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 0;
}
.form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  width: 100%;
}
.form div label {
  display: inline-block;
  height: auto;
  width: 20%;
  text-align: center;
  margin-right: 0.5rem;
  font-size: 1.6rem;
}
.form div input {
  height: auto;
  width: 70%;
  margin-right: 1rem;
  font-size: 1.6rem;
}
.form__titre-formulaire {
  text-decoration: none;
  font-size: 1.6rem;
  height: auto;
  width: auto;
  padding: 0 2rem;
}

.submit {
  height: auto;
  width: auto;
  font-size: 1.6rem;
  margin: 1rem;
  margin-left: 4rem;
}

.modifier {
  height: auto;
  width: auto;
  font-size: 1.6rem;
  margin: 1rem;
}

.infos-save {
  text-align: center;
}

.bloc-confirmation {
  height: 530px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bloc-confirmation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-confirmation div p {
  height: auto;
  width: 80%;
  font-size: 2rem;
  line-height: 2;
  padding: 5rem 0;
  text-align: center;
}
.bloc-confirmation div a {
  height: auto;
  width: auto;
}
.bloc-confirmation div a button {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  height: auto;
}

#numeroDeCommande {
  font-size: 2.2rem;
}

#montant {
  font-size: 2.2rem;
}

/*# sourceMappingURL=style.css.map */
