header{
   position: relative;
    @include flex;
    @include auto($height:60px);
    background: $color-tertiary;
    @media screen and(min-width:425px){
        @include auto($height:80px);
     }
     @media screen and(min-width:600px){
        @include auto($height:100px);
     }
     @media screen and(min-width:968px){
      @include auto($height:170px);
   }
   & h1{
      @include full;
      text-align: center;
      flex: 2;
      & a{
         @include full;
         @include flex;
         & img{
            @include full($width:auto);
         }
         @media screen and(min-width:425px){
         }
         @media screen and(min-width:600px){
         }
      }
   }
   & .account{
      @include full;
      @include flex;
      flex: 1;
      &__logo{
         @include flex;
         flex: 1;
         & i{
            font-size: 5rem;
            color: $color-secondary;
            margin-top: 20px;
         }
         &::after{
            content:"";
            height: 80px;
            border: 1px $color-secondary solid;
            margin: 0 15px;
         }
      }
      &__setting{
         @include full;
         flex: 3;
         @include flex($direction:column,$items:flex-start);
         & h2{
            margin: 10px 0;
            font-size: 1.6rem;
         }
      }
   }
   & .basket{
      @include full;
      @include flex;
      flex: 1;
      &__logo{
         @include flex;
         flex: 1;
         & i{
            font-size: 5rem;
            color: $color-secondary;
            margin-top: 20px;
         }
         &::after{
            content:"";
            height: 80px;
            border: 1px $color-secondary solid;
            margin: 0 15px;
         }
      }
      &__value{
         @include full;
         flex: 3;
         @include flex($direction:column,$items:flex-start);
         & h2{
            margin: 10px 0;
            font-size: 1.6rem;
         }
         &--link{
            text-decoration: underline;
            font-weight: normal;
         }
      }
   }
}