header{
   position: relative;
    @include flex;
    @include auto($height:60px);
    background: $color-tertiary;
    border: 5px lighten($color-primary,20%) solid;
    @media screen and(min-width:425px){
        @include auto($height:80px);
     }
     @media screen and(min-width:600px){
        @include auto($height:100px);
     }
     @media screen and(min-width:968px){
      @include auto($height:170px);
   }
   & h1{
      @include full;
      text-align: center;
      & img{
         @include full($width:auto);
      }
      @media screen and(min-width:425px){
         @include font($font:4rem);
      }
      @media screen and(min-width:600px){
         @include font($font:5rem);
      }
   }
   .navigation{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 10px;
      list-style: none;
      background-color: $color-primary;
      @include flex($direction:column);
      flex: 1;
      & li{
          margin: 5px 0;
          & a{
             color: white;
             letter-spacing:1px;
             text-decoration: none;
             font-size: 1.6rem;
          }
      }
   }
}
