@mixin btn{
    @include full($height:4rem);
    @include font;
    @include border-radius($radius:1rem);
    color: black;
    background-color: white;
}
@mixin btn-panier{
    height: 4rem;
    @include font;
    @include border-radius($radius:1rem);
}