html{
    font-size: 62.5%;
}
@font-face{
    font-family: "Shrikhand";
    src: url("Shrikhand-Regular.otf");
    }
@font-face {
    font-family: "Itim" ;
    src: url("Itim-Regular.ttf");
}     
body{
    margin: 0;
    box-sizing: border-box;
    font-family:"Itim","Trebuchet MS",Arial,"Courier New",Verdana,Georgia,"Arial Black";
}
section{
    @include auto;
}
  
   