.bloc-confirmation{
    @include auto($height:500px);
    @include flex;
    & div{
        @include flex($direction:column);
        & p{
        @include auto($width: 80%);
        @include font;
        line-height: 2;
        padding: 5rem 0;
        text-align: center;
    }
    }
    
}
