.index-presentation{
    position: relative;
    @include flex($items:flex-start);
    @include auto($height: 300px);
    & img{
        position: absolute;
        z-index: 1;
        @include full;        
    }
    @media screen and(min-width:375px){
        height: 350px;
    }
    @media screen and(min-width:768px){
        margin:0 10rem;
    }
    @media screen and(min-width:1000px){
        margin:0 15rem;
    }
    @media screen and(min-width:1200px){
        height: 400px;
    }
    @media screen and(min-width:1400px){
        height: 500px;
        margin:0 26rem;
    }
    @media screen and(min-width:1700px){
        height: 500px;
        margin:0 32rem;
    }
    &__text{
        @include auto;
        position: absolute;
        z-index: 2;
        opacity: 1;
        @include font;
        margin: 0;
        padding: 2rem;
        font-weight: bold;
        @media screen and(min-width:375px){
            @include font($font:map-get($font-size,medium));
        }
    }
}
section{ 
    & h2{
        @include auto;
        text-align: center;
        text-decoration: underline;
        margin: 1rem 0;
        @include font;
        @media screen and(min-width:425px){
            @include font(map-get($font-size,medium));
        }
        @media screen and(min-width:600px){
            @include font(map-get($font-size,large));
        }
    }
}

.search-bar{
    @include flex;
    &__frame{
        @include flex;
        width: 100%;
        padding: 1rem;
        background-color: lighten($color-tertiary,15%);
        &--label{
            @include flex;
            height: 30px;
            width: 10%;
            padding: 0 1rem;
            border-radius:0.5rem 0 0 0.5rem;
            background-color: $color-panier;
            color: white;
        }
        &--input{
            height: 30px;
            width: 30%;
            padding-left: 1rem;
            border: none;
            &:focus{
                border: 1px darken($color-tertiary,10%) solid;
            }
        }
        &--icon{
            @include flex;
            height: 30px;
            width: 5%;
            cursor: pointer;
            border-radius:0 0.5rem 0.5rem 0;
            background-color: $color-primary;
            color: white;
        }
    }
}
.bloc-produits{
    @include auto;
    @include flex($direction:column);
    @media screen and(min-width:768px){
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__cadre{
        margin: 2rem 0;
        @include auto($height:250px,$width:80%);
        @include box-shadow($smoke:1rem);
        overflow: hidden;
        @media screen and( min-width:375px){
            height: 300px;
        }
        @media screen and(min-width:425px){
            height: 350px;
        }
        @media screen and(min-width:600px){
            height: 450px;
        }
        @media screen and(min-width:768px){
            margin: 2rem 1rem;
            height: 330px;
            width: 40%;
        }
        @media screen and(min-width:1000px){
            height: 350px;
            width: 30%;
        }
    }  
}
.cadre-produit{
    @include auto($height:100%,$width:100%);
    @include flex($direction:column);
    text-decoration: none;
    color:black;
    background-color: white;
    &__photo{
        @include auto($height:70%,$width:100%);
        @include flex;
        & img{
            @include auto($height:100%,$width:100%);
        }
    }
    &__nom{
        @include auto($height:15%,$width:100%);
        @include flex;
        @include font;
        font-family:"Shrikhand","Trebuchet MS",Arial,"Courier New",Verdana,Georgia,"Arial Black";
        letter-spacing: 1px;
        background: linear-gradient(darken($background,10%),$background);
        @media screen and(min-width:600px){
            @include font($font:map-get($font-size,extra));
        }
        @media screen and(min-width:768px){
            @include font($font:map-get($font-size,large));
        }
    }
    &__prix{
        @include auto($height:15%,$width:100%);
        @include flex;
        @include font;
        font-family:"Shrikhand","Trebuchet MS",Arial,"Courier New",Verdana,Georgia,"Arial Black";
        letter-spacing: 2px;
        background: linear-gradient(darken($background,10%),$background);
        @media screen and(min-width:600px){
        @include font($font:map-get($font-size,large));
        }
    }
}
.index-panier{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    @include auto;    
    padding: 0.2rem;    
    margin: 0.2rem;
    @include flex;
    text-decoration: none;
    @media screen and(min-width:425px) {
        right: 10px;
    }
    & div{
        @include full;
        @include font($font:map-get($font-size,extra));
        @include flex($direction:column);

        &:hover{
            cursor:pointer;
        }
        & span{
            color: black;
            & i {
                &:hover{
                    color:$color-panier;
                }
            }
        }
        @media screen and(min-width:768px){
            @include font($font:4rem);
        }
        @media screen and(min-width:1200px){
            @include font($font:4rem);
        }
    }
}