.index-presentation{
    @include flex($items:flex-start);
    @include auto($height: 300px);
    background:url("../ours-presentation.png") no-repeat;
    background-size:100%;
}
.text{
    @include font;
    margin: 0;
    padding: 1rem;
    font-weight: bold;
}
section h2{
    text-align: center;
    text-decoration: underline;
}

.cadre{
    margin: 2rem 1rem;
    @include auto($height:250px);
    @include box-shadow($smoke:0.5rem);
    @include border-radius;
    overflow: hidden;
}
.cadre-produit{
    @include auto($height:100%,$width:100%);
    @include flex($direction:column);
    text-decoration: none;
    color:black;
    background-color: white;
    &__photo{
        @include auto($height:70%,$width:100%);
        @include flex;
        & img{
            @include auto($height:100%,$width:100%);
        }
    }
    &__nom{
        @include auto($height:15%,$width:100%);
        @include flex;
        @include font;
        background: $background;
    }
    &__prix{
        @include auto($height:15%,$width:100%);
        @include flex;
        @include font;
        background: $background;
    }
}
.index-panier{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    @include auto($height:25px,$width:60px);
    & button{
        @include auto($height:100%,$width:100%);
        background: $color-tertiary;
    }
}
.index-remove{
    position: absolute;
    top: 0;
    right: 60px;
    @include auto($height:25px,$width:auto);
    background: $color-tertiary;
}