.panier-remove{
    position: absolute;
    top: 0;
    right: 0px;
    @include auto($height:25px,$width:auto);
    background: $color-tertiary;
}
.ton-panier{
    @include auto;
    @include font;
    text-align: center;
    margin: 1rem ;
    border: 2px #f2f2f2 solid;
    @include border-radius($radius:1rem);
    @include box-shadow($smoke:1rem);
    & > p{
        margin: 0;
        padding: 1rem;
        text-decoration: underline;
    }
}
.liste-panier{
    @include auto;
    @include font($font:0.7rem);
    margin-bottom: 1rem;
}

.detail{
    @include flex($direction:column);
    width:auto ;
    height: auto;
    position: relative;
    & img{
        position: absolute;
        display:inline-block;
        top: 15px;
        right: 14px;
        border: 1px #f2f2f2 solid;
        @include auto($height:50px,$width:50px);
        @include small-shadow;
    }
    &__produit{
        text-align: left;
        padding: 1rem 1rem 0 1rem;
        margin: 0 1rem 0rem 1rem;
        background-color: white;
        line-height: 1.5;
    }
    &__prix-total-article{
        @include auto($width:100%);
        @include flex($content:center);
        margin-top: 0.5rem;
        &--total-article{
            @include auto($height:20px,$width:35%);
            @include flex;
            border: 1px $color-secondary solid;
        }
        &--prix-total{
            @include auto($height:20px,$width:35%);
            @include flex;
            border: 1px $color-secondary solid;
        }
    }
    &::after{
        content: "";
        height: auto;
        width: 60%;
        margin-bottom:1.5rem ;
        border: 2px rgb(116, 104, 88) solid;
    }
}

.boutons{
    @include flex($content:space-around);
    @include auto($width:80%);
    padding: 0.5rem;
    margin-bottom: 1rem;
    &__retour{
        @include btn;
    }
    &__accueil{
        @include btn;
    }
    &__confirmation{
        @include btn;
        margin-left: 2rem;
    }
}
.total-panier{
    @include auto($height:80px,$width:70%);
    @include flex($direction:column);
    @include font($font:0.8rem);
    border: 1px black solid;
    align-self: center;
    margin: 1rem 0;
    & div{
        margin-bottom: 1rem;
    }
}
#panier-section{
    @include flex($direction:column);
}
.form{
    @include flex($direction:column);
    @include auto($width:90%);
    border: 2px #f2f2f2 solid;
    @include box-shadow($smoke:1rem);
    @include border-radius($radius:1rem);
    margin: 1rem;
    padding: 1rem 0;
    & p{
        @include flex;
        width: 100%;
        & label{
            display: inline-block;
            @include auto($width:12%);
            text-align: right;
            margin-right:0.5rem ;
        }
        & input{
            @include auto($width:60%);
        }
    }
    &__titre-formulaire{
        text-decoration: none;
        font-size: 0.8rem;
    }
}
.submit{
    @include btn;
    margin: 1rem;
    
}