.panier-remove{
    position: absolute;
    top: 0;
    right: 0px;
    @include auto($height:25px,$width:auto);
    background: $color-tertiary;
}
.ton-panier{
    @include auto;
    @include font;
    text-align: center;
    margin: 1rem ;
    border: 2px #f2f2f2 solid;
    @include border-radius($radius:1rem);
    @include box-shadow($smoke:1rem);
    & > p{
        margin: 0;
        padding: 1rem;
        text-decoration: underline;
    }
}
.liste-panier{
    @include auto;
    @include font;
    margin-bottom: 1rem;
}

.detail{
    @include flex($direction:column);
    width:auto ;
    height: auto;
    position: relative;
    & img{
        position: absolute;
        display:inline-block;
        top: 15px;
        right: 14px;
        border: 1px #f2f2f2 solid;
        @include auto($height:50px,$width:50px);
        @include small-shadow;
    }
    &__produit{
        text-align: left;
        padding: 1rem 1rem 0 1rem;
        margin: 0 1rem 0rem 1rem;
        background-color: white;
    }
    &__prix-total-article{
        @include auto($width:100%);
        margin-top: 0.5rem;
        &--total-article{
            @include auto($height:30px);
            @include flex($content:left);
            margin: 1rem;
            padding: 0.2rem;
            border: 1px $color-secondary solid;
        }
        &--prix-total{
            @include auto($height:30px);
            @include flex($content:left);
            margin: 1rem;
            padding: 0.2rem;
            border: 1px $color-secondary solid;
        }
    }
    &::after{
        content: "";
        height: auto;
        width: 60%;
        margin-bottom:1.5rem ;
        border: 2px rgb(116, 104, 88) solid;
    }
}

.boutons{
    @include flex($content:space-between);
    @include auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    &__retour{
        width: 15%;
        & button{
            @include btn;
        }
    }
    &__accueil{
        width: 15%;
        & button{
            @include btn;
        }
    }
    &__confirmation{
        width: 40%;
        & button{
            @include btn;
        }
    }
}
.total-panier{
    @include auto;
    @include flex($direction:column);
    border: 1px black solid;
    align-self: center;
    margin: 1rem 0;
    & p{
        @include font;
        padding: 0.5rem;
    }
    & div{
        @include font;
        margin-bottom: 1rem;
    }
}
#panier-section{
    @include flex($direction:column);
}
.form{
    @include flex($direction:column);
    @include auto($width:90%);
    border: 2px #f2f2f2 solid;
    @include box-shadow($smoke:1rem);
    @include border-radius($radius:1rem);
    margin: 1rem;
    padding: 1rem 0;
    & div{
        @include flex;
        margin-bottom: 0.7rem;
        @include font;
        width: 100%;
        & label{
            display: inline-block;
            @include auto($width:30%);
            text-align: center;
            margin-right:0.5rem ;
            @include font;
        }
        & input{
            @include auto($width:60%);
        }
    }
    &__titre-formulaire{
        text-decoration: none;
        @include font;
    }
}
.submit{
    @include btn;
    margin: 1rem;
    
}
.infos-save{
    text-align: center;
}