.presentation-produit{
    @include auto($height:400px);
}
.produit-photo{
    @include auto($height:60%);
    &__image{
        @include auto($height:100%,$width:100%);
    }
}
.produit-description{
    @include auto($height:40%);
    @include font($font:1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    &__description:nth-child(1){
        padding: 0.8rem;
        height: auto;
        width: 100%;
        order: 1;
    }
    &__prix:nth-child(2){
        margin: 0.8rem;
        width: 40%;
        order: 2;
    }
    &__selection:nth-child(3){
        margin: 0.8rem;
        width: 40%;
        order: 3;
    }
}