.presentation-produit{
    @include auto($height:500px);
    background-color: whitesmoke;
    padding-bottom: 1rem;
}
.produit-photo{
    @include auto($height:40%);
    &__image{
        @include auto($height:100%,$width:100%);
    }
}
.produit-description{
    @include auto($height:60%);
    @include font($font:1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:1rem;

    &__nom:nth-child(1){
        height: 10%;
        width: 100%;
        order: 1;
        @include flex($content:flex-start);
        
    }
    &__nom{
        &--titre{
            text-decoration: underline;
        }
    }
    &__description:nth-child(2){
        height: 40%;
        width: auto;
        @include flex;
        order: 1;
    }
    &__prix:nth-child(3){
        height: 30%;
        width: 20%;
        @include flex;
        order: 2;
    }
    &__selection:nth-child(4){
        height: 30%;
        width: 80%;
        @include flex;
        order: 3;
    }
    &__retour:nth-child(5){
        height: 20%;
        width: 25%;
        order: 4;
        & button{
            @include btn;
        }
    }
    &__ajouter:nth-child(6){
        height: 20%;
        width: 40%;
        order: 5;
        & button{
           @include btn;
        }
    }
    &__panier:nth-child(7){
        height: 20%;
        width: 25%;
        order: 6;
        & button{
            @include btn;
        }
    }
    &__selection{
        &--quantite{
            width: 2rem;
        }
        &--selection{
            margin-right: 1rem;
        }
    }
}
#nom{
    margin-left: 1rem;
}
