@mixin auto($height:auto,$width:auto){
    height: $height;
    width: $width;
}
@mixin flex($direction:row,$content:center,$items:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}
@mixin border-radius($radius:0.5rem){
    border-radius: $radius ;
}
@mixin border-radius-bottom($radius:2rem){
    border-radius: 0 0 $radius $radius;
}
@mixin box-shadow($bottom:0rem,$right:0rem,$smoke:0rem,$contour:0.3rem,$color:$color-secondary){
    box-shadow: $right $bottom $smoke $contour $color;
}
@mixin small-shadow($shadow:0.2rem,$color:grey){
    box-shadow: $shadow $shadow $shadow $color;
}
@mixin font($font:map-get($font-size ,small)){
    font-size:$font;
}
@mixin full($height:100%,$width:100%){
    height: $height;
    width: $width;
}
