$color-primary:#905cf9;
$color-secondary:#f3e9f1;
$color-tertiary:#b1b1b1;
$color-warning:rgb(252, 252, 197);
$color-grey: #f2f2f2;
$color-panier:rgb(110, 110, 110);

$background:lighten($color-primary,25%);

$font-size:(small:1.6rem,medium:1.8rem,large:2rem,extra:2.5rem,extra-large:3rem);
